body{
  cursor:grab;
}
.main img{
  width: 1366px;
  height: 768px;
  position: fixed;
  margin-top: -100px;
  /*background-color: #F5F5F5;*/
}
.net-layer {
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
    height: 768px;
    width: 1349.59px;
    position: fixed;
    z-index: 0;
    margin-top: -100px;
}
/*First hexagon*/
.hexagon {
  position: relative;
  width: 170px;
  height: 98.15px;
  background-color: #F3ECD9;
  top: 120px;
  left: 680px;
  cursor: grabbing;
}
.hexagon img{
  border-radius: 80px;
  margin-top: -20px;
  position: absolute;
  z-index: 2;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 49.07px solid #F3ECD9;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 49.07px solid #F3ECD9;
  left:0;
}
 /*second hexagon */
 .hexagon2 {
   position: relative;
   width: 170px;
   height: 98.15px;
   background-color: #858553;
   top:22px;
   left:865px;
   cursor: grabbing;
 }
 .hexagon2 img{
   border-radius: 80px;
   margin-top: -20px;
   position: absolute;
   z-index: 2;
 }
 .hexagon2:before,
 .hexagon2:after {
   content: "";
   position: absolute;
   width: 0;
   border-left: 85px solid transparent;
   border-right: 85px solid transparent;
 }

 .hexagon2:before {
   bottom: 100%;
   border-bottom: 49.07px solid #858553;
 }

 .hexagon2:after {
   top: 100%;
   width: 0;
   border-top: 49.07px solid #858553;
   left: 0;
 }
/*third hexagon */

.hexagon3 {
  position: relative;
  width: 170px;
  height: 98.15px;
  background-color: skyblue;
  top:85px;
  left:590px;
  cursor: grabbing;
}
.hexagon3 img{
  border-radius: 80px;
  margin-top: -20px;
  position: absolute;
  z-index: 2;
}
.hexagon3:before,
.hexagon3:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
}

.hexagon3:before {
  bottom: 100%;
  border-bottom: 49.07px solid skyblue;
}

.hexagon3:after {
  top: 100%;
  width: 0;
  border-top: 49.07px solid skyblue;
  left: 0;
}
/*fourth heaxagon*/
.hexagon4 {
  position: relative;width: 170px;height: 98.15px;
  background-color: #ee6557;
  top:-15px;
  left:775px;
  cursor: grabbing;
}

.hexagon4:before,
.hexagon4:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
}

.hexagon4:before {
  bottom: 100%;
  border-bottom: 49.07px solid #ee6557;
}

.hexagon4:after {
  top: 100%;
  width: 0;
  border-top: 49.07px solid #ee6557;
left: 0;
}

/*fifth heaxagon*/
.hexagon5 {
  position: relative;width: 170px;height: 98.15px;
  background-color: #E9E1D6;
  top:-115px;
  left:960px;
  cursor: grabbing;
}
.hexagon5 img{
  border-radius: 80px;
  margin-top: -20px;
  position: absolute;
  z-index: 2;
  cursor: grabbing;
}

.hexagon5:before,
.hexagon5:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
}

.hexagon5:before {
  bottom: 100%;
  border-bottom: 49.07px solid #E9E1D6;
}

.hexagon5:after {
  top: 100%;
  width: 0;
  border-top: 49.07px solid #E9E1D6;
left: 0;
}

/*sixth heaxagon*/
.hexagon6 {
  position: relative;width: 170px;height: 98.15px;
  background-color: #C5C2A3;
  top:-48px;
  left:500px;
  cursor: grabbing;
}
.hexagon6 img{
  border-radius: 80px;
  margin-top: -20px;
  position: absolute;
  z-index: 2;
}
.hexagon6:before,
.hexagon6:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
}

.hexagon6:before {
  bottom: 100%;
  border-bottom: 49.07px solid #C5C2A3;
}

.hexagon6:after {
  top: 100%;
  width: 0;
  border-top: 49.07px solid #C5C2A3;
left: 0;
}

/*seventh heaxagon*/
.hexagon7 {
  position: relative;width: 170px;height: 98.15px;
  background-color: black;
  top:-150px;
  left:685px;
  cursor: grabbing;
}
.hexagon7 img{
  border-radius: 80px;
  margin-top: -20px;
  position: absolute;
  z-index: 2;
}
.hexagon7:before,
.hexagon7:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
}

.hexagon7:before {
  bottom: 100%;
  border-bottom: 49.07px solid black;
}

.hexagon7:after {
  top: 100%;
  width: 0;
  border-top: 49.07px solid black;
left: 0;
}


/*seventh heaxagon*/
.hexagon8 {
  position: relative;width:170px;height: 98.15px;
  background-color: #001E40;
  top:-250px;
  left:870px;
  cursor: grabbing;
}
.hexagon8 img{
  border-radius: 80px;
  margin-top: -20px;
  position: absolute;
  z-index: 2;
}
.hexagon8:before,
.hexagon8:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
}

.hexagon8:before {
  bottom: 100%;
  border-bottom: 49.07px solid #001E40;
}

.hexagon8:after {
  top: 100%;
  width: 0;
  border-top: 49.07px solid #001E40;
left: 0;
}

/*ninth heaxagon*/
.hexagon9 {
  position: relative;width: 170px;height: 98.15px;
  background-color: #A3A9A5;
  top:-350px;
  left:1055px;
  cursor: grabbing;
}
.hexagon9 img{
  border-radius: 80px;
  margin-top: -20px;
  position: absolute;
  z-index: 2;
}

.hexagon9:before,
.hexagon9:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
}

.hexagon9:before {
  bottom: 100%;
  border-bottom: 49.07px solid #A3A9A5;
}

.hexagon9:after {
  top: 100%;
  width: 0;
  border-top: 49.07px solid #A3A9A5;
left: 0;
}

.hexagon-overlay {
  position: absolute;
  bottom: 100%;
  left:0;
  right:0;
  background-color: black;
  overflow:hidden;
  opacity:0.1;
  width:170px;
  height:0;
  transition: 00.1s;
}

.hexagon:hover .hexagon-overlay,.hexagon2:hover .hexagon-overlay, .hexagon3:hover .hexagon-overlay, .hexagon4:hover .hexagon-overlay, .hexagon5:hover .hexagon-overlay, .hexagon6:hover .hexagon-overlay, .hexagon7:hover .hexagon-overlay, .hexagon8:hover .hexagon-overlay, .hexagon9:hover .hexagon-overlay{
    bottom:-22px;
    height:140px;
    border-radius: 80px;
    opacity:0.5;
    z-index: 5;
}

.text{
  white-space:nowrap;
  color: white;
  font-size: 35px;
  font-family: monospace;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*start of sidebar social media*/
.sidenav{
  position: fixed;
  top:20px;
  color:black;
  z-index: 3;
  font-family: monospace;
}
#mysidenav a{
  position: absolute;
  border-radius: 0 5px 5px 0;
  padding: 18px;
  width: 130px;
  height: 30px;
  transition: 0.3s;
  text-decoration: none;
  left:-80px;
  cursor: grabbing;
}
#mysidenav a:hover{
  left:0;
}


#facebook{
  top:100px;
}

#facebook img{
  margin-top:-25%;
  margin-left:60%;
}

#insta{
  top:165px;
}

#insta img{
  margin-top:-25%;
  margin-left:60%;
}

#twitter{
  top:230px;
}
#twitter img{
  margin-top:-25%;
  margin-left:60%;
}
#in{
  top:295px;
}
#in img{
  margin-top:-25%;
  margin-left:60%;
}
#reddit{
  top:360px;
}
#reddit img{
  margin-top:-25%;
  margin-left:60%;
}


/*overlays codes */
.overlay-1{
  position: absolute;
  width:515px;
  height:220px;
  background-color:black;
  margin-top: -833px;
  margin-left: 70px;
  opacity: 0.3;
  border-radius: 20px;
  text-align: center;
  font-size: 8em;
  font-family: 'Fredericka the Great', cursive;
  padding-bottom: 10px;
  color:skyblue;
}

/*press button navigation code*/

body, html {
  margin: 0;
}

/* codes for designing circular structure */
.circle-1{
   height: 180px;
   width:180px;
   border-radius: 50%;
   margin-left:600px;
   background-color: #A3A9A5;
   opacity: 0.8;
   z-index: 4;
  }
.icon_position1{
    position: absolute;
    margin-left: 75.3%;
    z-index: 3;
    margin-top: -36%;
    transition: 0.35s;
}
.icon_position1:hover, .icon_position2:hover, .icon_position3:hover, .icon_position4:hover{
  transform: scale(1.35);
}
.icon_position2{
  position: absolute;
  margin-left: 62.2%;
  z-index: 3;
  margin-top: -23.5%;
  transition: 0.35s;
}
.icon_position3{
  position: absolute;
  margin-left: 87.5%;
  z-index: 3;
  margin-top: -24%;
  transition: 0.35s;
}
.icon_position4{
  position: absolute;
  margin-left: 75.5%;
  z-index: 3;
  margin-top: -11%;
  transition: 0.35s;
}
  .circle-2{
    height: 180px;
    width:180px;
    border-radius: 50%;
    margin-left:690px;
    margin-top: -80px;
    background-color: #A3A9A5;
    opacity: 0.8;
    z-index: 4;
   }
   .circle-3{
     height: 180px;
     width:180px;
     border-radius: 50%;
     margin-left:511px;
     margin-top: -180px;
     background-color: #A3A9A5;
     opacity: 0.8;
     z-index: 4;
    }
    .circle-4{
      height: 180px;
      width:180px;
      border-radius: 50%;
      margin-left:600px;
      margin-top: -100px;
      background-color: #A3A9A5;
      opacity: 0.8;
      z-index: 4;
     }

/* codes for creating a button for navigation*/
.button__holder {
  position: relative;
  width: 100px;
  height: 100px;
  left:47%;
}

.navigation{
  display: none;
  position: fixed;
  z-index: 4;
  margin-top: 7.2%;
  left: -0.2%;
  padding-top: 6%;
}
.button__holder:after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.plus {
  cursor: grabbing;
  position: fixed;
  z-index: 4;
  width: 100px;
  height: 100px;
  color: black;
  background: #E9E1D6;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(0.3, 0, 0.75, 1.5), -webkit-transform 200ms cubic-bezier(0.3, 0, 0.7.5, 1.5);
  transition: box-shadow 400ms cubic-bezier(0.3, 0, 0.75, 1.5), transform 200ms cubic-bezier(0.3, 0, 0.75, 1.5);
  transition: box-shadow 400ms cubic-bezier(0.3, 0, 0.75, 1.5), transform 200ms cubic-bezier(0.3, 0, 0.75, 1.5), -webkit-transform 200ms cubic-bezier(0.3, 0, 0.75, 1.5);

}
.plus:after {
  content: "=>";
  font-size: 2.5em;
  line-height: 1.1em;
}
.plus:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: 0 0 1px 15px black, 0 0 1px 30px white, 0 0 1px 45px #A3A9A5;
}
.button__holder:hover .navigation{
  display:block;
}


.parallex{
    position:relative;
    margin-top: -280px;
    background-color: white;
    width: 1280px;
    height:689px;
    margin-left: 30px;
}
/*For cool about*/
.hexagon10 {
  position: relative;
  width: 500px;
  height: 288.68px;
  background-color: skyblue ;
  top:170px;
  left: 70px;
  opacity: 0.8;
}
.hexagon10 > h1 {
font-size: 96px;
text-align: center;
font-family: 'Emilys Candy', cursive;
color: black;
opacity: 0.8;
}

.hexagon10:before,
.hexagon10:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
}

.hexagon10:before {
  bottom: 100%;
  border-bottom: 144.34px solid skyblue ;
  left:0;
}

.hexagon10:after {
  top: 100%;
  width: 0;
  border-top: 144.34px solid skyblue ;
  left: 0;
}
.content1{
height:757px;
width:580px;
font-size: 25px;
background-color: skyblue;
margin-left: 700px;
margin-top: -390px;
color: #78909c;
font-family:'Bubbler One', sans-serif;
text-align: center;
}
.sub-content > h2{
  color:black;
}
.sub-content{
  width:85%;
  height:650px;
  margin-left:40px;
  background-color: white;
}

.connector{
  width:130px;
  height:90px;
  background-color: #78909c;
  margin-left:570px;
  margin-top:-430px;
}


footer{
  position: absolute;
  z-index: 1;
  top:1457px;
}
.layer-2{
  height:300px;
  width:1215px;
  padding: 5%;
  left: 5%;
  opacity: 0.7;
  text-align: center;
  font-size:2em;
  color: black;
  background-color: skyblue;
  font-family:'Bubbler One', sans-serif;
}

  .layer-3{
    height:90px;
    width:1349px;
    opacity: 0.8;
    margin-top:-25px;
    text-align: center;
    font-size:1.5em;
    background-color:#001E40;
    font-family: serif;
    color:black;
  }
